 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 24px;
  line-height: 1.44;
  height: 100%;
}

@media screen and (min-width:1200px) {
  .columns-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.44rem;
  }
}